<div class="container my-4" id="vue-app">
    <div class="card my-1">
        <div class="card-header">
            <h1>Battle Night</h1>
            <h2>Bounty Event Event Calculator</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="current_handcffs">Current Handcuffs</label>
                            <input name="current_handcffs" v-model="current_handcffs" id="current_handcffs" type="number" class="form-control">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="target_handcuffs">Target Handcuffs</label>
                            <input name="target_handcuffs" v-model="target_handcuffs" id="target_handcuffs" type="number" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="remaining_reset_cycles">Remaining reset cycles</label>
                            <input name="remaining_reset_cycles" v-model="remaining_reset_cycles" min="0" max="8" id="remaining_reset_cycles" type="number" class="form-control">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="readied_cases">Remaining cases in current cycle</label>
                            <input name="readied_cases" v-model="readied_cases" min="0" max="8" id="readied_cases" type="number" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="badges">Remaining badges</label>
                            <input name="badges" v-model="badges" id="badges" type="number" class="form-control">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="available_case_slots">Number of unlocked case slots total</label>
                            <div class="input-group">
                                <input name="available_case_slots" v-model="available_case_slots" id="available_case_slots" type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="card-text" v-html="result">

            </div>
        </div>
    </div>
</div>
